# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.6
  - nightly
notifications:
  email: false
branches:
  only: master
matrix:
  allow_failures:
    - julia: nightly

after_success:
  - julia -e 'cd(Pkg.dir("RegionTrees")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
